# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_cCYfGzOzJOJc@ep-rough-firefly-a5wd5uy0.us-east-2.aws.neon.tech/neondb?sslmode=require"
ACCELERATE_URL="prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5X2lkIjoiMzE0YjFiMzAtNzE1Zi00YTFhLWJhMTctZDNkMjU1YjQ5NTQ3IiwidGVuYW50X2lkIjoiNDNhODcxZjk3YzJjMjE3ZGVkYjlmMzk5YTJiNzU4ZjUxMzA4YzJiMjMzNzBjZjE2MzE5NGI2YWJkNjJlMjJkNCIsImludGVybmFsX3NlY3JldCI6IjNjNzJkNjE5LTEzM2EtNGJmNi04ZjU4LTBmOGMzMGNlOGVhZCJ9.FpYMVqKKJgCXdJsWJGrKlDEWJgcKOFGfqgDJjnpHKLM"

# JWT Configuration
JWT_SECRET="solutionsweb_super_secret_key_2025"

# Admin Configuration
ADMIN_EMAIL="du.claza@gmail.com"
ADMIN_PASSWORD="Pandora@1989"
